body{
    padding: 0;
    margin: 0;
    background-image:url(./source/bg-pic.jpg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar{
    padding: 12px;
    background-color: rgb(85, 85, 179); 
    background-image: linear-gradient(to top right, rgb(48, 48, 175), pink);
    display: flex;
    flex-direction: row;
}

.navbar>div{
    font-size: 20px;
    margin-left: 125px;
    text-align: center;
}

.section{
    height: 1200px;
    width: 100%;    
    margin-top: 0%;
}

.headline_container{
    height: 300px;
    width: 500px;
    margin-left: 34%;
    color: white;
    font-size: 30px;
    text-align: center;
}

.heading_btn{
    padding: 10px;
    width: 150px;
    color: blue;
    border: 0.5px solid blue;
}

.form_container{
    height: 300px;
    width: 500px;
    background-color: rgb(85, 85, 179);
    background-image: linear-gradient(to top right, rgb(48, 48, 175), pink);    margin-left: 33%;
    padding: 1%;
    margin-top: 15px;
}

.textfild{
    width: 96%; 
    padding: 8px;
}

.model{
    background-color: white;
    width: 99%;
    height: 350px;
    top: -600px;
    padding: 20px;
    position: fixed;
    background-color: white;    
}

.popup{
    animation-name: sliderOpen;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes sliderOpen{
    from{top:-600px}
    to{top:0px}
}


.popup.close{
    animation-name: sliderClose;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

@keyframes sliderClose{
    from{top:0px}
    to{top:-600px}
}


.container{
    margin-top: 0;
    float: left;
}

.coupan_row{
    display: flex;
    flex-direction: row;
}

.coupan_container{
    height: 180px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 19px 3px pink;
    border-radius: 10px;
}

.coupan_code{
    padding: 0;
    margin: 0;
}

.text-muted{
    font-size: 12px;
    color: rgb(31, 168, 168);
    font-weight: lighter;
}

.copy_btn{
    border: none;
    padding: 13px;
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
    margin-top: 15px;
    
}

.copy_btn.disable{
    background-color: rgb(26, 224, 231);
}